body{
    background-image: url(bg.png);
    background-size: cover;
}
.btn-dark{
    border: 1px solid #1b1d45;
    font-size: 16px;
}
.container{
    width: 400px;
    height: 630px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 20px;
    margin-top: 180px;
    background-color: white;
    text-align: center;
}
label{
    font-size: 20px;
    display: block;
}
.logo{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
